<h1>Welcome to my quick webpage for Quiz #1!</h1>

<p>
	Enjoy this calming and beautiful photo of Claude Monet's garden in France while I add more content!
</p>

<div class="col-xs-12 col-sm-4">
	<img src="giverny.jpg">
</div>

